<?xml version="1.0" encoding="utf-8"?>
<!--Syntax for MAPPING Drives |	<drive action="mapNew" label="z:" location="\\DFSPath\toFolder"/> | -->
<!--Syntax for REPLACING Drive Mappings | <drive action="replace" label="Z:" oldLocation="\\DFSPath\toOldLocation" newLocation="\\DFSPath\toNewLocation"/> | -->
<!--  available options
      action: mapNew, replace (mapNew creates a new drive mapping, replace will replace an existing drive mapping with a new path)
      label: The drive letter used to map the drive
      location: DFSPath to desired location (for mapNew action only)
      oldLocation: UNC or DFS Path of old location (for replace action only)
      newLocation: UNC or DFS Path of new location (for replace action only)
-->
<configuration>
	<domain name="company.com"/>
	<mappings>
		<networkDrives>
			<drive label="w:" action="mapNew" location="\\companyname.com\network"/>
		</networkDrives>
	</mappings>
</configuration>